<%= form_for [@group, @user, @snippet] do |f| %>
  <%= f.hidden_field(:picture_cache) %>
  <%= f.file_field(:picture) %>
	<p>
		<%= f.label :content %>
		<%= f.text_area :content %>
	</p>
	<%= f.submit %>
<% end %>