<div class="snippet">
	<% if @image  %>
		<img src="<%= @image.picture %>">
	<% end %>
	<p> <%= @snippet.content %></p>
	<% if @comments %>
		<% @comments.each do |comment| %>
			<div class="comment">
				<h5><%=User.find_by_id(comment.creator_id).first_name%>  <%=User.find_by_id(comment.creator_id).last_name%> - <%= comment.created_at.strftime("%B, %d, %Y") %></h5>
				<%= comment.content %>
				<%= link_to "Edit Comment", edit_group_user_snippet_comment_path(@snippet.group, @snippet.creator, @snippet, comment) %>
				<%= link_to "Delete Comment", [@snippet.group, @snippet.creator, @snippet], method: :delete %>
			</div>
		<% end %>
	<% end %>
	<br>
	<br>
<%= link_to "comment", new_group_user_snippet_comment_path(@snippet.group, @snippet.creator, @snippet)%>
<%= link_to "Edit", edit_group_user_snippet_path%>
<%= link_to "Delete", [@snippet.group, @snippet.creator, @snippet], method: :delete %>
</div>

<%= link_to "Back to snippets", group_user_snippets_path %>
