<div id="timeline">
<div class="snippet">
	<% if @images  %>
		<% @images.each do |image| %>
		<img src="<%= image.picture.url %>">
		<% end %>
	<% end %>
	<p> <%= @snippet.content %></p>
	<% if @comments %>
		<% @comments.each do |comment| %>
			<div class="comment">
				<h5><%=User.find_by_id(comment.creator_id).first_name%>  <%=User.find_by_id(comment.creator_id).last_name%> - <%= comment.created_at.strftime("%B, %d, %Y") %></h5>
				<%= comment.content %>
			</div>
		<% end %>
	<% end %>
<%= link_to "Comment", new_group_user_snippet_comment_path(@snippet.group, @snippet.creator, @snippet)%>
<% if current_user.id == @snippet.creator_id %>
<%= link_to "Edit", edit_group_user_snippet_path%>
<%= link_to "Delete", [@snippet.group, @snippet.creator, @snippet], method: :delete %>
<% end %>
</div>
<%= link_to "More snippets from this user", group_user_snippets_path %>
<%= link_to "Back to group", "/groups/#{@snippet.group_id}" %>
</div>