<div class="profile">
<%= form_for @user, url: user_path(@user), html: {class: "profile_form"} do |user| %>
<%= user.label :profile_picture %>
<%= user.file_field :picture %>
<br>
<%= user.label :first_name %>
<%= user.text_field :first_name %>
<br>
<br>
<%= user.label :last_name %>
<%= user.text_field :last_name %>
<br>
<br>
<%= user.label :email %>
<%= user.text_field :email %>
<br>
<br>
<%= user.label :current_location %>
<%= user.text_field :current_location %>
<br>
<br>
<%= user.label :new_password %>
<%= user.password_field :password %>
<br>
<br>
<%= user.label :new_password_confirmation %>
<%= user.password_field :password_confirmation %>
<br>
<br>
<%= user.submit class: "button" %>
<% end %>
</div>