<div class="profile">
<%= form_for @user, url: user_path(@user), html: {class: "profile_form"} do |user| %>
<%= user.label :profile_picture %>
<%= user.file_field :picture %>
<br>
<%= user.label :first_name %>
<%= user.text_field :first_name %>
<br>
<%= user.label :last_name %>
<%= user.text_field :last_name %>
<br>
<%= user.label :current_location %>
<%= user.text_field :current_location %>
<br>
<br>
<%= user.submit class: "button", value: "Update Profile" %>
<% end %>
</div>