<%= form_for [@group, @user, @post] do |f| %>
  <%= f.file_field :picture %>
  <p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :content %>
		<%= f.text_area :content %>
	</p>
	<%= f.submit %>
<% end %>