<div id="timeline">
<div class="post">
	<h1> <%= @post.title %> </h1>
	<% if @images  %>
		<% @images.each do |image| %>
		<img src="<%= image.picture %>">
		<% end %>
	<% end %>
	<p> <%= @post.content %></p>
	<% if @comments %>
		<% @comments.each do |comment| %>
			<div class="comment">
				<h5><%=User.find_by_id(comment.creator_id).first_name%>  <%=User.find_by_id(comment.creator_id).last_name%> - <%= comment.created_at.strftime("%B, %d, %Y") %></h5>
				<%= comment.content %>
				<%= link_to "Edit", edit_group_user_post_comment_path(@post.group, @post.creator, @post, comment) %>
				<%= link_to "Delete", [@post.group, @post.creator, @post, comment], method: :delete %>
			</div>
		<% end %>
	<% end %>
	<br>
	<br>
<%= link_to "Comment", new_group_user_post_comment_path(@post.group, @post.creator, @post)%>
<% if current_user.id == @post.creator_id %>
<%= link_to "Edit", edit_group_user_post_path %>
<%= link_to "Delete", [@post.group, @post.creator, @post], method: :delete %>
<% end %>
</div>
<br>
<%= link_to "More posts from this user", group_user_posts_path %>
<%= link_to "Back to group", "/groups/#{@post.group_id}" %>
</div>